# Ignore virtual environment
venv/
ENV/
env/

# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# FastAPI/Python logs
*.log
server_log.txt

# IDE and OS files
.vscode/
*.swp
.DS_Store
Thumbs.db

# Security keys and certs
*.pem
cert.pem
key.pem


# Environment files
.env

